<style></style>
<script src="https://vuejs.org/js/vue.min.js"></script>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/images/03650290.jpeg');"><span class="b-data__caption">Foto <a href='#'>ČTK</a></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Jak dlouho byste vydělávali na plat Jaromíra Jágra nebo Petra Čecha? Porovnejte si svůj plat se sportovními hvězdami</strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Vojtěch Man a Petr Kočí</a>
	<span class="meta__separator">|</span>
	<time>16. září 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">Sport je celosvětově sledovaným fenoménem, i proto se v něm točí obrovské finanční prostředky. Fotbalové prostředí nedávno šokoval přestup útočníka Neymara z Barcelony do Paris Saint-Germain za 222 milionů eur, téměř šest miliard korun.</p>

<figure class="pull-left pull-none--m img--w200 img--w100p--m">
                <p class="img img--20x27" data-text-version="Načíst obrázek">
                    <a href="#" class="img__holder is-loaded is-visible" >
                        <!--
                            mobile 16x9
                            desktop 20x27
                        -->
                        <noscript>
                            &lt;img src="../img/illust/200x270.jpg" width="200" height="270" alt=""&gt;
                        </noscript>
                    <img src="https://www.irozhlas.cz/sites/default/files/styles/zpravy_rubrikovy_nahled_vyskovy/public/uploader/2017-08-04t145600z_1_170813-163952_nis.jpg?itok=k73r1oq-"></a>
                </p>
                <figcaption>
                    Brazilec Neymar s novým dresem PSG | Foto: Reuters
                </figcaption>
            </figure>

<p>Zkrátka nepřijde ani Brazilec, jeho plat má činit 45 milionů eur ročně. Výplaty od týmů či vyhrané odměny ale nejsou jedinými příjmy sportovních superhvězd. Další miliony jim vynáší sponzorské smlouvy, proto hrubé příjmy těch nejznámějších přesahují v přepočtu dvě miliardy korun ročně.</p>
<p>Právě <a href="https://www.forbes.com/sites/christinasettimi/2017/08/03/neymar-set-to-eclipse-messi-and-ronaldo-and-become-the-worlds-highest-paid-soccer-player/#4ab8f5371912">u Neymara se předpokládá</a>, že v příštích měsících minimálně vyrovná dlouhodobého vládce finančních žebříčku Cristiana Ronalda. V jednoduché tabulce datových žurnalistů Českého rozhlasu si nyní můžete porovnat svůj příjem s výdělky těch nejlépe ohodnocených sportovců.</p>
<p>Velké částky si sportem vydělávají i Češi. Zatímco hokejoví boháči ve světovém srovnání pokulhávají, v českém žebříčku vládnou. Jakub Voráček si za uplynulou sezonu vydělal 322 milionů korun a dobře si vedou i další. David Pastrňák po výjimečné sezoně podepsal ve 21 letech v Bostonu nový kontrakt na v přepočtu 153 milionů korun ročně. Fotbal mezi nadvládou hokejistů zastupuje Petr Čech.</p>
<div id="kalkulacka" style="background-color:   #F0F0F0; padding:25px; padding-bottom:10px; margin-bottom:30px; border-radius:10px">
  <form>
      <label><h3><span style="display:inline-block; width:1.5em; height:1.5em; border-radius:1em; background-color:black;text-align:center;line-height:1.4em;color:white">1</span> Zadejte svůj hrubý měsíční příjem v korunách:</h3></label>
      <input v-model.number="zadanyPlat" type="number" autofocus="true" max="99999999" min="100" required="true" step="100" style="margin-top:0.3em">
      <span v-if="!zadanyPlat>0" style="color : red"> Zadejte číslo větší než 0</span>
      <span v-if="zadanyPlat>99999999" style="color : red"> Zadejte číslo menší než 100 milionů</span>
      <br><br>
      <label><h3><span style="display:inline-block; width:1.5em; height:1.5em; border-radius:1em; background-color:black;text-align:center;line-height:1.4em;color:white">2</span> S kým se chcete porovnat?</h3></label>
      <select v-model="vybranySportovec" style="margin-top:0.3em;max-width:100%">
        <optgroup v-for="(skupina, sportovec) in sportovci" v-bind:label="sportovec">
        <option v-for="sportovec in skupina" v-bind:value="sportovec">
          {{ sportovec[0] }}
      </select>
  </form>
<hr>
<ul v-if="zadanyPlat>0&&zadanyPlat<100000000">
  <li>{{ prijmeni }} má roční příjem <strong>{{ (vybranySportovec[1]/1000000).toFixed(1) }} milionů korun</strong>. Na váš měsíční plat si vydělá <strong>za {{zaKolikMinut.toFixed(1)}} minut</strong>.</li>
  <li>S vaším současným platem by vám trvalo <strong>{{ kolikLet.toFixed(0) }} let</strong>, abyste si vydělali tolik jako vybraný člověk za jediný rok.</li>
  <li>Kdybyste s doháněním tohoto platového náskoku začali <strong>v roce {{ rokZacit }}</strong>, byli byste teď už skoro v cíli.</li>
  <li>Váš měsíční příjem představuje <strong>{{ prumerCZ.toFixed(0) }} procent</strong> aktuální průměrné mzdy v České republice a <strong>{{ prumerSvet.toFixed(1) }} násobek</strong> celosvětové průměrné mzdy.</li>
<!--  <li>{{ prijmeni }} vydělává <strong>{{ martaIndex.toFixed(0) }}krát víc než Marta</strong>, jedna z nejlepších fotbalistek světa, která si jako profesionální hráčka ve Spojených státech vydělá 41 700 dolarů (910 tisíc korun) za rok.</li>-->
  <li>Od chvíle, kdy jste otevřeli tuto stránku, jste si vydělali <strong>{{ vterinaUser.toFixed(2) }} korun</strong>, {{ prijmeni}} má za stejnou dobu na kontě <strong>{{ vterinaSportovec.toFixed(2) }} korun.</strong></li>
</ul>
</div>

<p>Ženy sportem vydělávají méně. Ve stovce nejbohatších sportovců světa je <a href="https://www.forbes.com/sites/kurtbadenhausen/2017/08/14/the-highest-paid-female-athletes-2017/#57d871d53d0b">jen jedna žena – Serena Williamsová</a>. Srovnávání tenisových dotací mezi oběma pohlavími je vidět i v českém žebříčku. Do české elity výrazně zasáhla Karolína Plíšková i předtím, než se stala světovou jedničkou. Dobře si vedou také další zástupkyně „bílého sportu.“</p>
<figure class="pull-right pull-none--m img--w238 img--w100p--m">
                <p class="img img--16x9" data-text-version="Načíst obrázek">
                    <a href="#" class="img__holder is-loaded is-visible">
                        <!--
                            mobile + desktop 16x9
                        -->
                        <noscript>
                            &lt;img src="../img/illust/238x134.jpg" width="238" height="134" alt=""&gt;
                        </noscript>
                    <img src="https://www.irozhlas.cz/sites/default/files/styles/zpravy_rubrikovy_nahled/public/images/03664857.jpeg?itok=0OZKGZqd"></a>
                </p>
                <figcaption>
                    Serena Williamsová | Foto: Reuters
                </figcaption>
            </figure>

<p>České kluby platy svých hráčů až na výjimky nezveřejňují, oproti zahraničním ligám si ale Češi v domácích soutěžích vydělají zlomek. Větší roli navíc hrají bonusy za týmové či individuální výkony, například získané body či vstřelené góly.</p>
<p>Nejlépe placeným Čechem v domácích soutěžích má být sparťanský navrátilec z Arsenalu Tomáš Rosický. Situace se ale může v období obrovských investic, zejména do fotbalových klubů Sparty a Slavie, měnit.</p>
<p>Metodologie: Výpočet je pouze orientační, nebere například v úvahu délku pracovní doby. Pro výpočet jsme použili <a href="https://www.forbes.com/athletes/list/">analýzu magazínu Forbes</a>, který v české i mezinárodní mutaci vydal žebříčky nejlépe vydělávajících sportovců v období od července 2016 do června 2017.</p>
<p>V žebříčku jsme ponechali Jaromíra Jágra, přestože pro příští hokejovou sezonu stále nemá podepsanou smlouvu. Přidali jsme Davida Pastrňáka, který se podpisem nové smlouvy v Bostonu stal pátým nejlépe vydělávajícím českým sportovcem, a Neymara, jehož příjmy se podle Forbesu po přestupu do PSG vyšplhají na 93 milionů dolarů ročně, čímž zřejmě vyrovná Cristiana Ronalda.
České kluby platy svých hráčů povětšinou nezveřejňují, přesto jsme do seznamu zařadili Tomáše Rosického, jehož výdělek při dobrém zdravotním stavu se odhaduje na milion korun měsíčně.
Údaje, které do tabulky zadáte, Český rozhlas neukládá, tudíž je nemůže použít k žádným jiným účelům.</p>
<p><a href="http://www.bbc.com/sport/41037621">Inspirováno kalkulačkou BBC</a></p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Vojtěch Man a Petr Kočí</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script>function niceNum(val){return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g," ");};var sportovci={"Čeští sportovci":[["Jakub Voráček (hokej, Philadelphia Flyers)",322000000],["Petr Čech (fotbal, Arsenal Londýn)",236000000],["David Krejčí (hokej, Boston Bruins)",167000000],["David Pastrňák (hokej, Boston Bruins)",153000000],["Jaromír Jágr (hokej, Florida Panthers)",146500000],["Karolína Plíšková (tenis)",134000000],["Jan Veselý (basketbal, Fenerbahce Istanbul)",109000000],["Bořek Dočkal (fotbal, Sparta/Che-nan Ťien-jie)",82500000],["Vojtěch Růžička (poker)",56500000],["Tomáš Rosický (fotbal, Sparta Praha)",12000000]],"Zahraniční sportovci":[["Cristiano Ronaldo (fotbal, Real Madrid)",2139000000],[" Neymar (fotbal, PSG)",2139000000],["LeBron James (basketbal, Cleveland Cavaliers)",1978000000],["Lionel Messi (fotbal, Barcelona)",1840000000],["Roger Federer (tenis)",1472000000],["Andrew Luck  (americký fotbal, Indianapolis Colts)",1150000000],["Rory McIlroy (golf)",1150000000],["Lewis Hamilton (formule 1, Mercedes)",1058000000],["Usain Bolt (atletika)",787000000],["Sidney Crosby (hokej, Pittsburgh Penguins)",354000000],["Serena Williamsová (tenis)",621000000]],"Běžní čeští zaměstnanci":[["Jana Nováková (zaměstnankyně s průměrnou mzdou)",352152],["Jan Novák (zaměstnanec s minimální mzdou)",132000]]}
var sekund=0;var vyberSportovce=new Vue({el:'#kalkulacka',data:{sportovci:sportovci,vybranySportovec:["Jakub Voráček (hokej, Philadelphia Flyers)",322000000],zadanyPlat:"25000",sekund:sekund},created:function(){var self=this
setTimeout(function cycle(){self.sekund=self.sekund+1
setTimeout(cycle,1000)},1000)},computed:{prijmeni:function(){return this.vybranySportovec[0].split(/\s+/)[1]},zaKolikMinut:function(){return this.zadanyPlat/(this.vybranySportovec[1]/525948.766)},kolikLet:function(){return this.vybranySportovec[1]/(this.zadanyPlat*12)},rokZacit:function(){var letopocet=(new Date()).getFullYear()-Math.floor(this.vybranySportovec[1]/(this.zadanyPlat*12));if(letopocet>=0){return letopocet;}
if(letopocet<0){return Math.abs(letopocet)+" před naším letopočtem";}},prumerCZ:function(){return this.zadanyPlat/29346*100},prumerSvet:function(){return this.zadanyPlat/23583},martaIndex:function(){return this.vybranySportovec[1]/909051},vterinaSportovec:function(){return this.vybranySportovec[1]/31556926*this.sekund},vterinaUser:function(){return this.zadanyPlat*12/31556926*this.sekund}},methods:{niceNum:function(val){return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g," ");}}})</script>
